.header {
  background-color: #2e343f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.widget {
  display: flex;
  align-items: center;
  width: 40vw;
  justify-content: center;
}
.widget-with-action {
  display: flex;
  align-items: center;
  width: 40vw;
  justify-content: space-between;
  cursor: pointer;

}

.image-holder {
  display: flex;
  align-self: flex-start;
  align-items: center;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  margin-right: 40px;
  order: 1;
}

.section-divider-row {
  width: 40vw;
}

.title {
  font-size: 1.1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.left-section-row {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  order: 1;
}

.widget-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.widget-text {
  text-align: right;
}
.image-component {
  width: 50px;
  height: 50px;
}

.widget-title-row {
  display: flex;
  align-items: center;
  width: 40vw;
  justify-content: flex-start;
}
.widget-unexpandable-row {
  display: flex;
  align-items: center;
  width: 40vw;
  justify-content: space-between;
}
.divider-line {
  border-left: 6px solid green;
  height: inherit;
  z-index: 5;
}
.progressbar-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 10px;
  width: 7vw;
  background-color: white;
  border-top-left-radius: 20% 3px;
  border-top-right-radius: 20% 3px;
  border-bottom-left-radius: 20% 3px;
  border-bottom-right-radius: 20% 3px;
}
.progressbar-container > * {
  height: 10px;
  width: 50px;
  background-color: rgb(201, 201, 201);
  flex-grow: 1;
  margin-right: 1px;
  text-align: center;
  font-size: 10px;
}

div.progressbar-container > div:first-child{
  border-top-left-radius: 20% 3px;
  border-bottom-left-radius: 20% 3px;
}
div.progressbar-container > div:last-child{
  margin-right: 0;
  border-top-right-radius: 20% 3px;
  border-bottom-right-radius: 20% 3px;

}

